---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedinIcon from '../components/icons/Linkedin.astro'
import GithubIcon from '../components/icons/Github.astro'
import MailIcon from '../components/icons/Mail.astro'
import BriefcaseIcon from '../components/icons/Briefcase.astro'
import CodeIcon from '../components/icons/Code.astro'
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
import SectionTitle from '../components/SectionTitle.astro';
---

<Layout title="Portfolio Lautaro Espinillo - Desarrollador web">
	<main class="px-4">
		<SectionContainer class={"pt-24 pb-12 lg:pt-44 lg:pb-24"}>
			<h1 class="text-white text-2xl md:text-3xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4">Hola! soy Lautaro 
				<a href="https://www.linkedin.com/in/lautaro-espinillo" target="_blank" rel="noopener" class="flex items-center justify-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-lg lg:text-xl opacity-80 text-wrap">Desarrollador Web Full Stack. 
				<span class="text-sky-400">De Buenos Aires, Argentina.</span> Especializado en crear soluciones personalizadas</h2>

			<nav class="flex flex-row gap-4 mt-8 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/lautaro-espinillo" >
						<LinkedinIcon class="size-4 lg:size-6" />
						Linkedin
					</SocialPill>
					<SocialPill href="https://github.com/TheLaucha">
						<GithubIcon class="size-4 lg:size-6" />
						Github
					</SocialPill>
					<SocialPill id="btnEmail">
						<MailIcon class="size-4 lg:size-6" />
						espinillo.lautaro@gmail.com
					</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia" class={"pt-24 pb-12"}>
			<SectionTitle>
				<BriefcaseIcon class="size-7" />
				Experiencia Laboral
			</SectionTitle>
			<Experience></Experience>
		</SectionContainer>

		<SectionContainer id="proyectos" class={"pt-24 pb-12"}>
			<SectionTitle>
				<CodeIcon class="size-7" />
				Proyectos
			</SectionTitle>
			<Projects></Projects>
		</SectionContainer>
	</main>
</Layout>

<script>
	const btnEmail = document.querySelector('#btnEmail')

	btnEmail.addEventListener('click', copiarEmail)

	function copiarEmail(){
		navigator.clipboard.writeText('espinillo.lautaro@gmail.com');
		let spanItem = document.createElement("span")
		spanItem.textContent = "Se ha copiado al portapapeles"
		spanItem.className = "flex justify-center py-1 rounded-full border border-white/10 bg-white/5 transition"
		spanItem.style.position = "absolute"
		spanItem.style.left = "105%"
		spanItem.style.top = "0%"
		spanItem.style.fontSize = "0.8rem"
		spanItem.style.width = "100%"
		btnEmail.appendChild(spanItem)

		setTimeout(() => {
			btnEmail.removeChild(spanItem)
		},1000)
	}
</script>
