<header class="flex flex-col gap-2 md:flex-row justify-between items-center py-3 px-5 w-full xl:w-[1120px] mx-auto ">
  <img src="https://avatars.githubusercontent.com/u/47804695?v=4" alt="Navbar logo image" class="rounded-full w-12 h-12">

  <nav class="flex flex-row gap-x-5 md:gap-x-10 ">
    <a href="#top" class="hover:text-sky-400 transition">Inicio</a>
    <a href="#experiencia" class="hover:text-sky-400 transition">Experiencia</a>
    <a href="#proyectos" class="hover:text-sky-400 transition">Proyectos</a>
    <a href="#sobre-mi" class="hover:text-sky-400 transition">Sobre mi</a>
    <a href="#contacto" class="hover:text-sky-400 transition">Contacto</a>
  </nav>
</header>